<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Facebook Login</title>
</head>
<body>
<h1>Login with Facebook</h1>

<!-- Display login status -->
<div id="status"></div>

<!-- Facebook login or logout button -->
<a href="javascript:void(0);" onclick="fbLogin()" id="fbLink"><img src=" {% static 'img/fblogin.png' %}"/></a>

<!-- Display user profile data -->
<div id="userData"></div>

<div id="accessToken"></div>

</body>
<script>
    var logout_button = "{% static 'img/fblogout.png' %}";
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static 'js/fb_login.js' %}"></script>
</html>